<?xml version="1.0"?>
<ruleset name="ghost-lms">
    <description>PHPCS configuration for Ghost LMS.</description>

    <rule ref="WordPress-Extra">
        <exclude name="WordPress.Files.FileName"/>
    </rule>

    <config name="text_domain" value="ghost-lms"/>
    <config name="minimum_supported_wp_version" value="6.4"/>

    <arg name="extensions" value="php"/>
    <arg name="colors"/>
    <arg value="s"/>

    <file>src/</file>
</ruleset>
